name: Kafka Extension

on:
  push:
    branches:
      - main
      - master
      - axon-kafka-*.*.x

jobs:
  build:
    name: Test and Build on JDK ${{ matrix.java-version }}
    runs-on: ubuntu-latest
    continue-on-error: true # do not fail the whole job if one of the steps fails

    strategy:
      matrix:
        include:
          - java-version: 8
            sonar-enabled: false
            deploy-enabled: true
          - java-version: 11
            sonar-enabled: true
            deploy-enabled: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3.6.0
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: "maven"
          server-id: sonatype
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Run regular build
        run: |
          ./mvnw -B -U -Dstyle.color=always clean verify

      - name: Run integration tests
        run: | # no clean
          ./mvnw -B -U -Pintegration-test -DskipExamples

      - name: Build coverage report
        if: matrix.sonar-enabled
        run: | # no clean
          ./mvnw -B -U -Pcoverage-aggregate -DskipExamples   

      - name: Sonar analysis
        if: matrix.sonar-enabled
        run: | # no clean
          ./mvnw -B -Dstyle.color=always sonar:sonar \
          -Dsonar.projectKey=AxonFramework_extension-kafka \
          -Dsonar.organization=axonframework \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy to Sonatype
        if: success() && ${{ matrix.deploy-enabled }}
        run: |
          ./mvnw -B -U -Dstyle.color=always deploy -DskipTests=true -DskipExamples=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_USERNAME: ${{ secrets.SONATYPE_TOKEN_ID }}
          MAVEN_PASSWORD: ${{ secrets.SONATYPE_TOKEN_PASS }}

      - name: Notify success to Slack
        if: success()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1.1.2
        with:
          channel_id: CAGSEC92A
          status: SUCCESS
          color: good

      - name: Notify failure to Slack
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1.1.2
        with:
          channel_id: CAGSEC92A
          status: FAILED
          color: danger
