name: Kafka Extension

on:
  pull_request:

jobs:
  build:
    name: Test and Build on JDK ${{ matrix.java-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - java-version: 8
            sonar-enabled: false
          - java-version: 11
            sonar-enabled: true
      fail-fast: false # run both to the end

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3.5.0
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: "maven"
          server-id: sonatype
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Run regular build
        run: |
          ./mvnw -B -U -Dstyle.color=always clean verify

      - name: Run integration tests
        run: | # no clean
          ./mvnw -B -U -Pintegration-test -DskipExamples

      - name: Build coverage report
        if: matrix.sonar-enabled
        run: | # no clean
          ./mvnw -B -U -Pcoverage-aggregate -DskipExamples

      - name: Sonar Analysis
        if: ${{ success() && matrix.sonar-enabled && github.event.pull_request.head.repo.full_name == github.repository }}
        run: |
          ./mvnw -B -Dstyle.color=always sonar:sonar \
          -Dsonar.projectKey=AxonFramework_extension-kafka \
          -Dsonar.organization=axonframework \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
